@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Poppins:wght@100;200;400;500;600;700;800&family=Quicksand:wght@300;400;500;600;700&display=swap');
:root{
    --black: #181722;
    --white: #F0F0F0;
    --gold: #BDB76B;
    --box-shadow: 0px 4px 4px rgba(0,0,0,0.25);
}

*{
    font-family: 'Quicksand', sans-serif;
    margin: -10px; padding: 2px;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}
html{
    font-size: 50.5%;
    overflow-x: hidden;
    scroll-padding-top: 7rem;
    scroll-behavior: smooth;
}
html::-webkit-scrollbar{
    width: .8rem;
}
html::-webkit-scrollbar-track{
    background: transparent;
}
html::-webkit-scrollbar-thumb{
    background-color: var(--white);
    border-radius: 5rem;
}

/*header class*/

.header{
    top: 0px;right: 0;left: 0;
    background-color: var(--white);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    z-index: 999;
    padding: 1.4rem 7%;
}
.header .logocontent{
    display: flex;
    align-items: center;

}
.header .logocontent .logo img{
    height: 25rem;
}
.header .logocontent .logoname{
    color: var(--black);
    font-size: 2rem;
    font-weight: bolder;
    
}

.header .navbar a{
    font-size: 2rem;
    margin-right: 5rem;
    color: var(--black);
    font-weight: bold;
    align-items: center;
}
.header .navbar a:hover{
    border-bottom: .1rem solid var(--gold);
    padding-bottom: .4rem;
}
.header .icon i{
  font-size: 2rem;
  margin-right: 2rem;
  color: var(--black);
  cursor: pointer;
}

/*design of the search bar section tihahaha*/

.header .search{
  display: none;
  top: 100%;
  margin: 1.5rem 7%;
  background-color: transparent;
  width: 50%;
  right: 0;
  height: 5rem;
  position:  absolute;

}
.header .search input{
  width: 100%;
  height: 100%;
  font-size: 2.2rem;
  background-color: var(--gold);
  color: var(--black);
  margin-right: 7%;
  border-radius: 1rem;
  padding: 0.5rem 1rem;
  box-shadow: var(--box-shadow);
}
.header .search.active{
  display: inline-block;
}
#menu-bar{
  display: none;
}
/*text section design*/
.home{
  min-height: 100vh;
  display: flex;
  align-items: center;
  background: url(../images/img4.jpg);
  opacity: 90%;
  background-size: cover;
  background-position: center center;
  font-family: Arial, Helvetica, sans-serif;
  background-repeat: no-repeat;
  position: relative;
  overflow-x: hidden;
}





.container-first {
  position: absolute;
  top: 30%;
  left: 5%;
}

h1 {
  text-transform: uppercase;
  font-size: 110px;
  color: var(--white);
  font-family: Abril fatface, sans-serif;
}
h1 span {
  position: relative;
}
.container-btns {
  position: relative;
  top: 50px;
}
.btn-first {
  border: 2px solid var(--gold);
  outline: none;
  background: transparent;
  font-size: 30px;
  padding: 20px;
  width: 300px;
  color: var(--white);
  cursor: pointer;
}
.btn-first:nth-child(1){
  margin-right: 30px;
}
.btn-first:hover {
  transition: all 0.3s ease-in-out;
  background: var(--gold);
  color: #333;
}

.medias {
  list-style-type: none;
  position: absolute;
  right: 3.3%;
  top: 45%;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.bulle {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 1px solid #f1f1f1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  background: #f1f1f1;
  cursor: pointer;
  position: relative;
}

.logo-medias {
  width: 40px;
  height: 40px;
}

/*About us section starts*/

.about{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap:2rem;
}

.about .image{
  flex:1 5 1rem;
  opacity: 99%;
}

.about .image img{
  width: 100%;
}

.about .content{
  flex:1 1 41rem;
}

.about .content .title{
  font-size: 4rem;
  color:var(--black);
}

.about .content p{
  font-size: 1.7rem;
  color:var(--light-black);
  padding:1rem 0;
  line-height: 2;
}

.about .content .icons-container{
  display: flex;
  flex-wrap: wrap;
  gap:2rem;
  margin-top: 3rem;
}

.about .content .icons-container .icons{
  flex:1 1 30rem;
  text-align: center;
  background: var(--light-bg);
  padding:3rem 2rem;
}

.about .content .icons-container .icons img{
  height: 5rem;
}

.about .content .icons-container .icons h3{
  padding-top: 5rem;
  font-size: 2rem;
  color:var(--light-black);
  font-weight: normal;
}

.btn{
  margin-top: 1rem;
  display: inline-block;
  background: var(--black);
  color:var(--gold);
  font-size: 2rem;
  cursor: pointer;
  padding:1rem 3rem;
}

.btn:hover{
  letter-spacing: .2rem;
}




/* media queries for responsive pages*/

/*maxxxx*/
@media (max-width:1464px){
  html{
    font-size: 45%;
  }
  .header{
    padding: 1.3rem 3rem;
  }
}

/*mediummmm*/
@media (max-width:1355px){
  #menu-bar{
    display: inline-block;

  }
  .header .navbar{
    position: absolute;
    top: 100%;
    right: -100%;
    width: 25rem;
    background-color: var(--white);
    height: 80vh;
  }
  .header .navbar.active{
    right: 0;
  }
  .header .navbar a{
    display: block;
    font-size: 2rem;
    color: var(--black);
    margin: 1.5rem;
  }
  h1 {
    text-transform: uppercase;
    font-size: 80px;
    color: var(--white);
    font-family: Abril fatface, sans-serif;
  }
  .btn-first {
    border: 2px solid var(--gold);
    outline: none;
    background: transparent;
    font-size: 18px;
    padding: 18px;
    width: 280px;
    color: var(--white);
    cursor: pointer;
  }
  .btn-first:nth-child(1){
    margin-right: 18px;
  }
}
/*smaalll shiiit*/
@media (max-width:919px){
  html{
    font-size: 40%;
  }
  h1 {
    text-transform: uppercase;
    font-size: 65px;
    color: var(--white);
    font-family: Abril fatface, sans-serif;
  }
  .btn-first {
    border: 2px solid var(--gold);
    outline: none;
    background: transparent;
    font-size: 15px;
    padding: 10px;
    width: 280px;
    color: var(--white);
    cursor: pointer;
    display: none;
  }
  .btn-first:nth-child(1){
    margin-right: 15px;
    display: none;
  }
}
@media (max-width:693px){
  html{
    font-size: 40%;
  }
  h1 {
    text-transform: uppercase;
    font-size: 55px;
    color: var(--white);
    font-family: Abril fatface, sans-serif;
  }}